@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* font-family: 'Poppins', sans-serif; https://source.unsplash.com/1600x900/?snow*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#212529; 
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
   
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #38d9a9;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    color: #38d9a9;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;
    color: #38d9a9;
}